{% extends 'SystemBundle:Default:layout.html.twig' %}

{% block content %}

<div class="page-title">
    <h3>
        {%trans%}system{%endtrans%} - <span class="semi-bold">Escaner</span>
    </h3>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>
                    Escaneo del sistema
                </h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                </div>
            </div>
            <div class="grid-body no-border">
				<fieldset>
                    <legend>Inspección de Bundles</legend>
                    <div class="form-group">
                        <div class="controls">
                            <textarea rows="16" class="col-md-12">{{ log|raw }}</textarea>
                        </div>
                    </div>
                </fieldset>

                <br />

                <fieldset>
                    <legend>Inspección de Entidades</legend>
                    <div class="form-group">
                        <div class="controls">
                            <textarea rows="16" class="col-md-12">{{ logEntity|raw }}</textarea>
                        </div>
                    </div>
                </fieldset>
			</div>
        </div>
    </div>
</div>

</ul>
{% endblock %}
