{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">x</button>
	<h4 class="alert-heading">{%trans%}well.done{%endtrans%}</h4>
	{{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">x</button>
	<h4 class="alert-heading">{%trans%}error{%endtrans%}</h4>
	{{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('warning') %}
<div class="alert alert-block ">
        <button type="button" class="close" data-dismiss="alert">x</button>
	<h4 class="alert-heading">{%trans%}warning{%endtrans%}</h4>
	{{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
<div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">x</button>
	<h4 class="alert-heading">{%trans%}info{%endtrans%}</h4>
	{{ flashMessage|raw }}
</div>
{% endfor %}