<!-- start: Header -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{path('dashboard')}}"><span>Admin</span></a>

            <!-- start: Header Menu -->
            <div class="nav-no-collapse header-nav">
                <ul class="nav pull-right">
                    <!-- start: User Dropdown -->
                    <li class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="halflings-icon white user"></i> {{app.user.username}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-title">
                                <span>Account Settings</span>
                            </li>
                            <li><a href="#"><i class="halflings-icon user"></i> Profile</a></li>
                            <li><a href="{{path('_security_logout')}}"><i class="halflings-icon off"></i> Logout</a></li>
                        </ul>
                    </li>
                    <!-- end: User Dropdown -->
                    
                     <li class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="halflings-icon white text-width"></i>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-title">
                                <span>Language Settings</span>
                            </li>
                            <li><a href="#" onclick="javascript:$('#language2').val('es');$('#langForm2').submit();"><i class="halflings-icon align-left"></i> Español</a></li>
                            <li><a href="#" onclick="javascript:$('#language2').val('en');$('#langForm2').submit();"><i class="halflings-icon align-left"></i> English</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
            <!-- end: Header Menu -->
            
            <form hidden id="langForm2" name="langForm" action="{{path('language')}}" method="POST">
                    <select id="language2" name="language" class="language" onchange="javascript:$('#langForm2').submit();" tabindex="-1">
                        <option value="es">Español</option>
                        <option value="en">English</option>
                    </select>
             </form>

        </div>
    </div>
</div>
<!-- start: Header -->