{% extends '::base.html.twig' %}

{# CSS #}
{% block stylesheets %}

    <!-- start: CSS -->
        <link id="bootstrap-style" href="{{ asset('bundles/system/template/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/system/template/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
        <link id="base-style" href="{{ asset('bundles/system/template/css/style.css') }}" rel="stylesheet">
        <link id="base-style-responsive" href="{{ asset('bundles/system/template/css/style-responsive.css') }}" rel="stylesheet">
      <!--  <link id="base-style-responsive" href="{{ asset('bundles/system/css/jquery.dataTables.css') }}" rel="stylesheet">
     end: CSS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>

        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                <link id="ie-style" href="css/ie.css" rel="stylesheet">
        <![endif]-->

        <!--[if IE 9]>
                <link id="ie9style" href="css/ie9.css" rel="stylesheet">
        <![endif]-->

    {# Estilos personalizados por página #}
    {% block customstylesheets %}{% endblock %}

{% endblock %}

{# Parte principal de la página #}
{% block body %}
<body class="">

    {# Barra superior #}
    {% include "SystemBundle:Default:header.html.twig" %}

    {# Contenedor de plantilla: sidebar + menú + contenido #}
    <!-- BEGIN CONTENT -->
   <div class="container-fluid-full">
        <div class="row-fluid">
        
            {# Barra lateral izquierda #}
            {% include "SystemBundle:Default:sidebar.html.twig" %}

            {# Contenido de la página #}
            <!-- BEGIN PAGE CONTAINER-->
            <div id="content" class="span10">
                <!-- BEGIN PlACE PAGE CONTENT HERE -->
                {% include "SystemBundle:Default:alert_messages.html.twig" %}

                {% block content %}{% endblock %}
                <!-- END PLACE PAGE CONTENT HERE -->
            </div>
            
        </div>
    </div>
        <!-- END PAGE CONTAINER -->
        
    <!-- END CONTENT -->
    
    <div class="clearfix"></div>
    <footer>
        <p style="text-align:center;">
            <span>&copy; {{"now"|date("Y")}} <a href="#" >LookAtHotel Responsive Dashboard</a></span>
        </p>
    </footer>

    
    {# Javascript #}
    {% block javascripts %}
         <!--[if lt IE 9]>
        <script src="{{ asset('bundles/system/js/html5shiv.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/system/js/respond.min.js') }}" type="text/javascript"></script>
        <![endif]-->
        
      <!-- BEGIN CORE JS FRAMEWORK-->
       {#<script src="{{ asset('bundles/system/js/jquery-1.11.1.min.js') }}" type="text/javascript"></script>#}
      
        <!-- start: JavaScript-->

        <script src="{{ asset('bundles/system/template/js/jquery-1.9.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/system/template/js/jquery-migrate-1.0.0.min.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/jquery-ui-1.10.0.custom.min.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/jquery.ui.touch-punch.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/modernizr.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/bootstrap.min.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/jquery.cookie.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/fullcalendar.min.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
        <script type="text/javascript" src="{{ asset('bundles/system/js/datatables-responsive/js/datatables.responsive.js') }}"></script>{# add by me #}
        <script type="text/javascript" src="{{ asset('bundles/system/js/datatables-responsive/js/lodash.min.js') }}"></script>{# add by me #}

        <script src="{{ asset('bundles/system/template/js/excanvas.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/system/template/js/jquery.flot.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/system/template/js/jquery.flot.pie.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/system/template/js/jquery.flot.stack.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/system/template/js/jquery.flot.resize.min.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/jquery.chosen.min.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/jquery.uniform.min.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/jquery.cleditor.min.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/jquery.noty.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/jquery.elfinder.min.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/jquery.raty.min.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/jquery.iphone.toggle.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/jquery.uploadify-3.1.min.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/jquery.gritter.min.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/jquery.imagesloaded.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/jquery.masonry.min.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/jquery.knob.modified.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/jquery.sparkline.min.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/counter.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/retina.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/system/template/js/custom.js') }}" type="text/javascript"></script>
        <!-- end: JavaScript-->


        
        {# Javascript INICIAL #}
     <script>
            $(document).ready(function() {
                //para setting el combo del language
                var loc = '{{app.session.get('_locale')}}';
                $(".language").val(loc);
                
                //$(".select2").select2();//para los combo con class select2 #}
                   
            });  
        </script>

        {# Javascript personalizado por página #}
        {% block customjavascripts %}{% endblock %}

    {% endblock %}

</body>
{% endblock %}