<!-- start: Main Menu -->
<div id="sidebar-left" class="span2 scrollable-menu" >
    <div class="nav-collapse sidebar-nav" >
        <ul class="nav nav-tabs nav-stacked main-menu ">
            
            <!-- BEGIN TWO LEVEL MENU -->
            {% set menu = app.session.get('userMenu') %}
            {% for parent in menu %}
            {% if parent.parent == '0' %}
            <li >
                <a class="dropmenu" href="#">
                    <i class="{{ parent.icon }}"></i>
                   <span class="hidden-tablet"> {{parent.title|trans}} {{parent.icon}}</span>
                    </a>
                </a>
                <ul class="submenu">
                    {% for child in menu %}
                    {% if child.parent == parent.id %}
                    <li>
                        {% set path = '#' %}
                        {% if child.isExternal == true and child.path != '#' %}
                            {% set path = child.path %}
                        {% elseif child.isExternal == false and child.path != '#' %}
                            {% set path = app.request.getBaseURL() ~'/'~ child.path %} {#  path(child.path) #}
                        {% else %}
                            {% set path = '#' %}
                        {% endif %}
                        <a href="{{ path }}"{% if child.inNewTab == true %} target="_blank"{% endif %}>{{child.title|trans}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
            <!-- END TWO LEVEL MENU --> 
            
            
            {#<li><a href="index.html"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>	
            <li><a href="messages.html"><i class="icon-envelope"></i><span class="hidden-tablet"> Messages</span></a></li>
            <li><a href="tasks.html"><i class="icon-tasks"></i><span class="hidden-tablet"> Tasks</span></a></li>
            <li><a href="ui.html"><i class="icon-eye-open"></i><span class="hidden-tablet"> UI Features</span></a></li>
            <li><a href="widgets.html"><i class="icon-dashboard"></i><span class="hidden-tablet"> Widgets</span></a></li>
            <li>
                <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Dropdown</span><span class="label label-important"> 3 </span></a>
                <ul>
                    <li><a class="submenu" href="submenu.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 1</span></a></li>
                    <li><a class="submenu" href="submenu2.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 2</span></a></li>
                    <li><a class="submenu" href="submenu3.html"><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 3</span></a></li>
                </ul>	
            </li>
            <li><a href="form.html"><i class="icon-edit"></i><span class="hidden-tablet"> Forms</span></a></li>
            <li><a href="chart.html"><i class="icon-list-alt"></i><span class="hidden-tablet"> Charts</span></a></li>
            <li><a href="typography.html"><i class="icon-font"></i><span class="hidden-tablet"> Typography</span></a></li>
            <li><a href="gallery.html"><i class="icon-picture"></i><span class="hidden-tablet"> Gallery</span></a></li>
            <li><a href="table.html"><i class="icon-align-justify"></i><span class="hidden-tablet"> Tables</span></a></li>
            <li><a href="calendar.html"><i class="icon-calendar"></i><span class="hidden-tablet"> Calendar</span></a></li>
            <li><a href="file-manager.html"><i class="icon-folder-open"></i><span class="hidden-tablet"> File Manager</span></a></li>
            <li><a href="icon.html"><i class="icon-star"></i><span class="hidden-tablet"> Icons</span></a></li>
            <li><a href="login.html"><i class="icon-lock"></i><span class="hidden-tablet"> Login Page</span></a></li>#}
        </ul>
    </div>
</div>
<!-- end: Main Menu -->