<!DOCTYPE html>
<html lang="es">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8" />
        <title>Titulo</title>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="Autor" name="author" />
        <meta content="" name="description" />
        <meta name="robots" content="noindex, nofollow" />
        <!-- BEGIN CORE CSS FRAMEWORK -->
        <link href="{{ asset('bundles/system/assets/plugins/pace/pace-theme-flash.css') }}" rel="stylesheet" type="text/css" media="screen"/>
        <link href="{{ asset('bundles/system/assets/plugins/boostrapv3/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('bundles/system/assets/plugins/boostrapv3/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('bundles/system/assets/plugins/font-awesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('bundles/system/assets/css/animate.min.css') }}" rel="stylesheet" type="text/css"/>
        <!-- END CORE CSS FRAMEWORK -->
        <!-- BEGIN CSS TEMPLATE -->
        <link href="{{ asset('bundles/system/assets/css/style.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('bundles/system/assets/css/responsive.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('bundles/system/assets/css/custom-icon-set.css') }}" rel="stylesheet" type="text/css"/>
        <!-- END CSS TEMPLATE -->
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="error-body no-top">
        <div class="error-wrapper container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-offset-1 col-xs-10">
                    <div class="error-container" >
                        <div class="error-main">
                            <div class="error-number">{{ status_code }}</div>
                            <div class="error-description" >{%trans%}http.exception{%endtrans%}</div>
                            <div class="error-description-mini">{%trans%}http.exception.pagenotfound{%endtrans%}</div>
                            <br>
                            <p>{%trans%}http.exception.message{%endtrans%}</p>
                            <button class="btn btn-primary btn-cons" type="button" onclick="javascript:window.history.back();">{%trans%}go.back{%endtrans%}</button>
                            <a class="btn btn-primary btn-cons" href="{{ path('dashboard') }}">{%trans%}go.dashboard{%endtrans%}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="error-container">
                <div class="copyright">
                    <p>Admin es un producto de <a target="_blank" href="//www.webpage.com">webpage</a><br>
                    Todos los derechos reservados. &copy; {% if "now"|date('Y') == 2014 %}2014{% else %}2014 - {{ "now"|date('Y') }}{% endif %}</p>
                </div>
            </div>
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN CORE JS FRAMEWORK-->
        <script src="{{ asset('bundles/system/assets/plugins/jquery-1.8.3.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/system/assets/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/system/assets/plugins/pace/pace.min.js') }}" type="text/javascript"></script>
        <!-- BEGIN CORE TEMPLATE JS -->
        <!-- END CORE TEMPLATE JS -->

        {% set ipAddress = app.request.server.get("REMOTE_ADDR") %}
        {% if ipAddress == '127.0.0.1' or ipAddress == 'localhost' or ipAddress == '190.128.231.82' or app.environment == 'dev' %}
            <div class="col-md-12">
                <div class="grid solid red">
                    <div class="grid-title">
                        <h4>ERROR!</h4>
                    </div>
                    <div class="grid-body">
                        <h3>
                            Status: {{ status_code }} - 
                            <span class="semi-bold">Message: {{ status_text }}</span>
                        </h3>
                        <p>
                            <pre>
                                {{ dump(exception) }}
                            </pre>
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
    </body>
</html>