{% extends 'SystemBundle:Default:layout.html.twig' %}

{% block body %}
    <body id="login-body">
        <div class="container-fluid-full">
            <div class="row-fluid">
                <div class="row-fluid">
                    {#{% if error %}
                        <div class="alert alert-block alert-error fade in col-md-10">
                            <button data-dismiss="alert" class="close" type="button"></button>
                            <h4 class="alert-heading"><i class="icon-warning-sign"></i> Error!</h4>
                            <p>
                                Las credenciales de acceso no son correctas.
                            </p>
                        </div>
                    {% endif %}#}
                    <div class="login-box">
                        <div class="icons">
                            <a href="#"><i class="halflings-icon home"></i></a>
                        </div>
                        <h2>{%trans%}login.account{%endtrans%}</h2>
                        <form class="form-horizontal" action="{{ path('_security_check') }}" method="post">
                            <div class="input-prepend" title="Username">
                                <span class="add-on"><i class="halflings-icon user"></i></span>
                                <input class="input-large span10" name="_username" id="username" type="text" value="{{ last_username }}" placeholder="{%trans%}type.username{%endtrans%}"/>
                            </div>
                            <div class="clearfix"></div>

                            <div class="input-prepend" title="Password">
                                <span class="add-on"><i class="halflings-icon lock"></i></span>
                                <input class="input-large span10" name="_password" id="password" type="password" placeholder="{%trans%}type.password{%endtrans%}"/>
                            </div>
                            <div class="clearfix"></div>

{#                            <label class="remember" for="remember"><input type="checkbox" id="remember" />Remember me</label>#}
                            {% if error %}
                                <div class="alert alert-block alert-error" style="text-align: center;"> {# alert fade in col-md-10#}
                                    <h5 class="alert-heading"><i class="icon-warning-sign"></i>&nbsp;&nbsp;&nbsp;Las credenciales de acceso no son correctas.</h5>
                                    {#<p>
                                        Las credenciales de acceso no son correctas.
                                    </p>#}
                                </div>
                            {% endif %}

                            <div class="button-login">	
                                <button type="submit" class="btn btn-primary">{%trans%}login.btn{%endtrans%}</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                        <h3><a href="#">{%trans%}forgot.password{%endtrans%}</a></h3>
                        {#<p>
                            No problem, <a href="#">click here</a> to get a new password.
                        </p>#}	
                    </div><!--/span-->
                </div><!--/row-->
            </div><!--/.fluid-container-->
        </div><!--/fluid-row-->
    </body>
{% endblock %}