<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="keyword" content="Hotel, Reservation, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

        <!-- start: Mobile Specific -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- end: Mobile Specific -->
        
        <title>{% block title %}WWelcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

