{% extends 'SystemBundle:Default:layout.html.twig' %}

{% block content %}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="#">Home</a> 
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#">Dashboard</a></li>
</ul>

<div class="row-fluid">
        Dashboard!!!
</div>	
{% endblock %}