{% extends 'SystemBundle:Default:layout.html.twig' %}

{% block content %}
<ul class="breadcrumb">
    <li style="padding-left: 0;">
        <p>{%trans%}miga{%endtrans%}</p>
    </li>
    <li>
        {%trans%}system{%endtrans%}
    </li>
    <li><a href="{{ path('role') }}" class="active">{%trans%}user.roles{%endtrans%}</a></li>
</ul>

<div class="page-title">
    <h3>
        {%trans%}system{%endtrans%} - <span class="semi-bold">{%trans%}roles{%endtrans%}</span>
    </h3>
</div>

<form id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" method="{{ form.vars.method }}" action="{{ form.vars.action }}">

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>
                    {%trans%}db.permision{%endtrans%}: <strong>{{ entity.label }}</strong>
                </h4>
            </div>
            <div class="grid-body no-border">
				
                <table class="table table-hover table-condensed" id="lista_registros" txt="{%trans%}search{%endtrans%}-[!otro!]-{%trans%}showing{%endtrans%}-[!otro!]-{%trans%}no.result{%endtrans%}-[!otro!]-{%trans%}registers{%endtrans%}-[!otro!]-{%trans%}of{%endtrans%}-[!otro!]-{%trans%}total{%endtrans%}" >
                    <thead>
                        <tr>
                            <th>{%trans%}entity{%endtrans%}</th>
                            <th>{%trans%}schema{%endtrans%}</th>
                            <th>{%trans%}table{%endtrans%}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in form.entity.vars.choices %}
                        <tr>
                            <td>
                                <div class="input-with-icon right">
                                    <div class="checkbox check-warning">
                                        {{ form_widget(form.entity.children[entity.data.id]) }}
                                        {{ form_label(form.entity.children[entity.data.id], null, {'label_attr': {'style': 'padding-left: 24px;'}}) }}
                                    </div>
                                </div>
                            </td>
                            <td>{{ entity.data.schemaName }}</td>
                            <td>{{ entity.data.tableName }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="form-actions">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-warning btn-cons">{%trans%}save{%endtrans%}</button>
                    </div>
                </div>

                {{ form_widget(form._token) }}

			</div>
        </div>
    </div>
</div>

</form>

{% endblock %}
