{% extends 'SystemBundle:Default:layout.html.twig' %}

{% block customjavascripts %}
<script type="text/javascript">
$(document).ready(function() {
    $("div.toolbar").html('<div class="table-tools-actions"><a href="{{ path('role_new') }}" class="btn btn-primary" style="margin-left:12px" id="test2">{%trans%}add{%endtrans%}</a></div>');
});
</script>
{% endblock %}

{% block content %}

<ul class="breadcrumb">
    <li style="padding-left: 0;">
        <p>{%trans%}miga{%endtrans%}</p>
    </li>
    <li>
        {%trans%}system{%endtrans%}
    </li>
    <li><a href="{{ path('role') }}" class="active">{%trans%}user.roles{%endtrans%}</a></li>
</ul>

<div class="page-title">
    <h3>
        {%trans%}system{%endtrans%} - <span class="semi-bold">{%trans%}user.roles{%endtrans%}</span>
    </h3>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>
                    {%trans%}roles{%endtrans%}
                </h4>
                    <a href="{{ path('role_new') }}" class="btn btn-primary" style="margin-left:12px" id="test2">{%trans%}add{%endtrans%}</a>
            </div>
            <div class="grid-body ">
                <table class="table table-hover table-condensed" id="lista_registros" txt="{%trans%}search{%endtrans%}-[!otro!]-{%trans%}showing{%endtrans%}-[!otro!]-{%trans%}no.result{%endtrans%}-[!otro!]-{%trans%}registers{%endtrans%}-[!otro!]-{%trans%}of{%endtrans%}-[!otro!]-{%trans%}total{%endtrans%}" >
                    <thead>
                        <tr>
                            <th>{%trans%}role{%endtrans%}</th>
                            <th>{%trans%}label{%endtrans%}</th>
                            <th>{%trans%}description{%endtrans%}</th>
                            <th style="width:25%; text-align: center;">{%trans%}actions{%endtrans%}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                        <tr >
                            <td class="v-align-middle">{{ entity.role }}</td>
                            <td class="v-align-middle">{{ entity.label }}</td>
                            <td class="v-align-middle">{{ entity.description }}</td>
                            <td class="v-align-middle" style="text-align: center;">
                                <a href="{{ path('role_show', { 'id': entity.id }) }}" class="btn btn-white btn-xs btn-mini tip" data-toggle="tooltip" data-original-title="{%trans%}show{%endtrans%}">
                                    <i class="fa fa-list-alt">show</i>
                                </a>
                                <a href="{{ path('role_edit', { 'id': entity.id }) }}" class="btn btn-white btn-xs btn-mini tip" data-toggle="tooltip" data-original-title="{%trans%}edit{%endtrans%}">
                                    <i class="fa fa-edit">edit</i>
                                </a>
                                <a href="{{ path('role_menu_edit', { 'id': entity.id }) }}" class="btn btn-white btn-xs btn-mini tip" data-toggle="tooltip" data-original-title="{%trans%}assign.menus{%endtrans%}">
                                    <i class="fa fa-list-ol">menu</i>
                                </a>
                                <a href="{{ path('role_system_permission_edit', { 'id': entity.id }) }}" class="btn btn-white btn-xs btn-mini tip" data-toggle="tooltip" data-original-title="{%trans%}system.permision{%endtrans%}">
                                    <i class="fa fa-desktop">ystem_permission_edit</i>
                                </a>
                                <a href="{{ path('role_database_permission_edit', { 'id': entity.id }) }}" class="btn btn-white btn-xs btn-mini tip" data-toggle="tooltip" data-original-title="{%trans%}database.permision{%endtrans%}">
                                    <i class="fa fa-check-square-o">database_permission_edit</i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
