{% extends 'SystemBundle:Default:layout.html.twig' %}

{% block content %}
<ul class="breadcrumb">
    <li style="padding-left: 0;">
        <p>{%trans%}miga{%endtrans%}</p>
    </li>
    <li>
        {%trans%}system{%endtrans%}
    </li>
    <li><a href="{{ path('role') }}" class="active">{%trans%}user.roles{%endtrans%}</a></li>
</ul>

<div class="page-title">
    <h3>
        {%trans%}system{%endtrans%} - <span class="semi-bold">{%trans%}user.roles{%endtrans%}</span>
    </h3>
</div>

<form id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" method="{{ form.vars.method }}" action="{{ form.vars.action }}">

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>
                    {%trans%}assign.menus{%endtrans%}
                </h4>
            </div>
            <div class="grid-body">
				{% for parent in form.menu.vars.choices %}
                {% if parent.data.menuParent == null %}
                <ul class="menu">
                    <li>
                        <div class="input-with-icon right">
                            <div class="checkbox check-success">
                                {{ form_widget(form.menu.children[parent.data.id]) }}
                                {{ form_label(form.menu.children[parent.data.id]) }}
                            </div>
                        </div>

                        <ul class="fa-ul">
                        {% for child in form.menu.vars.choices %}

                        {% if child.data.menuParent != null %}
                            {% if child.data.menuParent.id == parent.data.id %}
                            <li style="margin-left: 4px;">
                                <i class="fa-li fa fa-level-up fa-rotate-90" style="margin-top: -2px;"></i>
                                <div class="input-with-icon right" style="margin-left: -8px;">
                                    <div class="checkbox check-default">
                                        {{ form_widget(form.menu.children[child.data.id]) }}
                                        {{ form_label(form.menu.children[child.data.id]) }}
                                    </div>
                                </div>
                            </li>
                            {% endif %}
                        {% endif %}

                        {% endfor %}
                        </ul>

                    </li>
                </ul>
                {% endif %}
                {% endfor %}

                <div class="form-actions">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success btn-cons">{%trans%}save{%endtrans%}</button>
                    </div>
                </div>
			</div>
        </div>
    </div>
</div>

{{ form_widget(form._token) }}
</form>

{% endblock %}
