{% extends 'SystemBundle:Default:layout.html.twig' %}

{% block content %}

<ul class="breadcrumb">
    <li style="padding-left: 0;">
        <p>{%trans%}miga{%endtrans%}</p>
    </li>
    <li>
        {%trans%}system{%endtrans%}
    </li>
    <li><a href="{{ path('role') }}" class="active">{%trans%}user.roles{%endtrans%}</a></li>
</ul>

<div class="page-title">
    <h3>
        {%trans%}system{%endtrans%} - <span class="semi-bold">{%trans%}user.roles{%endtrans%}</span>
    </h3>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>
                    {%trans%}create.role{%endtrans%}
                </h4>
            </div>
            <div class="grid-body no-border">
				{{ form(form) }}
			</div>
        </div>
    </div>
</div>

</ul>
{% endblock %}
