{% extends 'SystemBundle:Default:layout.html.twig' %}

{% block content %}

<ul class="breadcrumb">
    <li style="padding-left: 0;">
        <p>{%trans%}miga{%endtrans%}</p>
    </li>
    <li>
        {%trans%}system{%endtrans%}
    </li>
    <li><a href="{{ path('role') }}" class="active">{%trans%}user.roles{%endtrans%}</a></li>
</ul>

<div class="page-title">
    <h3>
        {%trans%}system{%endtrans%} - <span class="semi-bold">{%trans%}user.roles{%endtrans%}</span>
    </h3>
</div>

<div id="container">

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>
                        {%trans%}details.role{%endtrans%}
                    </h4>
                    <div class="tools">
                        <div class="btn-group">
                            <a href="{{ path('role_edit', { 'id': entity.id }) }}" class="btn btn-mini">
                                <i class="fa fa-edit"></i> {%trans%}edit{%endtrans%}
                            </a>
                            <a class="btn btn-mini" data-toggle="modal" data-target="#deleteRecordModal">
                                <i class="fa fa-times"></i> {%trans%}delete{%endtrans%}
                            </a>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th width="40%">{%trans%}role{%endtrans%}</th>
                                <td>{{ entity.role }}</td>
                            </tr>
                            <tr>
                                <th>{%trans%}label{%endtrans%}</th>
                                <td>{{ entity.label }}</td>
                            </tr>
                            <tr>
                                <th>{%trans%}description{%endtrans%}</th>
                                <td>{{ entity.description }}</td>
                            </tr>
                            <tr>
                                <th>{%trans%}admin.role{%endtrans%}</th>
                                <td>{% if entity.roleAdmin %}
                                    <span class="label label-success">{%trans%}yes{%endtrans%}</span>
                                    {% else %}
                                    <span class="label label-important">{%trans%}no{%endtrans%}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{# Modal: delete #}
<div class="modal fade" id="deleteRecordModal" tabindex="-1" role="dialog" aria-labelledby="deleteRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br>
                <h4 id="deleteRecordModalLabel" class="semi-bold">{%trans%}delete.record{%endtrans%}</h4>
                <p class="no-margin">
                     
                    {%trans%}delete.quest{%endtrans%}
                </p>
                <br>
            </div>
            <div class="modal-footer">
                <form action="{{ path('role_delete', { 'id': entity.id }) }}" method="post" {{ form_enctype(delete_form) }}>
                {{ form_widget(delete_form) }}
                <button type="button" class="btn btn-default" data-dismiss="modal">{%trans%}cancel{%endtrans%}</button>
                <button type="submit" class="btn btn-danger">{%trans%}delete{%endtrans%}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
