{% extends 'SystemBundle:Default:layout.html.twig' %}

{% block customjavascripts %}
<script type="text/javascript">
$(document).ready(function() {
    $("ul.bundle-list li").click(function () {
        var bundle = $(this).attr('data-bundle');
        $("ul.bundle-list li").removeClass("active");
        $(this).addClass("active");

        $("ul.controller-list").hide();
        $("#bundle-controllers-" + bundle).show();

        $("#bundle-controllers-" + bundle + " li").first().click();
    });

    $("ul.controller-list li").click(function () {
        var controller = $(this).attr('data-controller');

        $("ul.controller-list li").removeClass("active");
        $(this).addClass("active");

        $("ul.actions-list").hide();
        $("#controller-actions-" + controller).show();
    });

    $("ul.bundle-list li").first().click();
});

function invertirSeleccion(controllerId)
{
    $("#controller-actions-" + controllerId + " li input[type='checkbox']").each(function() {
        $(this).click();
    });
}
</script>
{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li style="padding-left: 0;">
        <p>{%trans%}miga{%endtrans%}</p>
    </li>
    <li>
        {%trans%}system{%endtrans%}
    </li>
    <li><a href="{{ path('role') }}" class="active">{%trans%}user.roles{%endtrans%}</a></li>
</ul>

<div class="page-title">
    <h3>
        {%trans%}system{%endtrans%} - <span class="semi-bold">{%trans%}roles{%endtrans%}</span>
    </h3>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>
                    {%trans%}system.permision.text{%endtrans%}: <strong>{{ entity.label }}</strong>
                </h4>
            </div>
        </div>
    </div>
</div>

<form id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" method="{{ form.vars.method }}" action="{{ form.vars.action }}">

<div class="row">
                    
    <div class="col-md-4">
        <div class="grid simple vertical blue">
            <div class="grid-title no-border">
                <h4>{%trans%}modules{%endtrans%}</h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="grid-body no-border">
                <div class="row-fluid">
                    <div>
                        <ul class="nav nav-pills nav-stacked bundle-list">
                            {% for bundle in bundles %}
                            <li class="" data-bundle="{{ bundle.id }}"><a href="#">{{ bundle.bundle }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="grid simple vertical blue">
            <div class="grid-title no-border">
                <h4>{%trans%}controllers{%endtrans%}</h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="grid-body no-border">
                <div class="row-fluid">
                    <div>
                        {% for bundle in bundles %}
                        <ul class="nav nav-pills nav-stacked controller-list" id="bundle-controllers-{{ bundle.id }}" style="display: none;">
                            {% for controller in controllers %}
                            {% if controller.bundle.id == bundle.id %}
                            <li class="" data-controller="{{ controller.id }}"><a href="#">{{ controller.controller }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="grid simple vertical blue">
            <div class="grid-title no-border">
                <h4>{%trans%}actions{%endtrans%}</h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="grid-body no-border">
                <div class="row-fluid">
                    <div>
                        {% for controller in controllers %}
                        <ul class="nav nav-pills nav-stacked actions-list" id="controller-actions-{{ controller.id }}" style="display: none;">
                            {% for action in form.action.vars.choices %}
                            {% if action.data.controller.id == controller.id %}
                            {% set actionId = action.data.id %}
                            <li class="">
                                <div class="input-with-icon right">
                                    <div class="checkbox check-success">
                                        {{ form_widget(form.action.children[actionId]) }}
                                        {{ form_label(form.action.children[actionId]) }}
                                    </div>
                                </div>
                            </li>
                            {% endif %}
                            {% endfor %}

                            <li class="">
                                <hr />
                                <div class="input-with-icon right">
                                    <button type="button" class="btn btn-white btn-sm btn-small" onclick="javascript:invertirSeleccion({{ controller.id }});">Invert selection</button>
                                </div>
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="form-actions">
    <div class="pull-right">
        <button type="submit" class="btn btn-success btn-cons">{%trans%}save{%endtrans%}</button>
    </div>
</div>

{{ form_widget(form._token) }}

</form>

{% endblock %}
