{% extends 'SystemBundle:Default:layout.html.twig' %}

{% block customjavascripts %}
<script type="text/javascript">
$(document).ready(function() {
    
});
</script>
{% endblock %}

{% block content %}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="{{ path('dashboard') }}">{%trans%}home{%endtrans%}</a> 
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="{{ path('user') }}" class="active">{%trans%}users{%endtrans%}</a></li>
</ul>

<div class="row-fluid">
    <div class=" span12">
        <div class="box-header" data-original-title>
            <h2>{%trans%}edit.user{%endtrans%}</h2>
            {#<div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>#}
        </div>
        <div class="box-content">
                
            
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="name">{%trans%}user{%endtrans%}</label>
                    <div class="controls">
                        <input id="name" class="form-control" type="text" value="{{ entity.username }}" disabled="disabled" name="name">
                    </div>
                </div>
            </form>
            
            {{ form(edit_form) }}

        </div>
    </div>

</div>

{% endblock %}
