{% extends 'SystemBundle:Default:layout.html.twig' %}

{% block customjavascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $("div.toolbar").html('<div class="table-tools-actions"><a href="{{ path('user_new') }}" class="btn btn-primary" style="margin-left:12px" id="test2">{%trans%}add{%endtrans%}</a></div>');
        
    });
    </script>
{% endblock %}

{% block content %}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="{{ path('dashboard') }}">{%trans%}home{%endtrans%}</a> 
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="{{ path('user') }}" class="active">{%trans%}users{%endtrans%}</a></li>
</ul>
    
    
<div class="row-fluid">
    <div class=" span12">
        <div class="box-header" data-original-title>
            <h2>{%trans%}system{%endtrans%} - {%trans%}users{%endtrans%}</h2>
            {#<div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>#}
        </div>
        <div class="box-content">
           <div class="span12">
               <a href="{{ path('user_new') }}" class="btn btn-primary pull-right" style="margin-left:12px" id="test2">{%trans%}add{%endtrans%}</a>
            </div>
            <br><br><br>
                
            
            <div class="grid-body ">
                <table class="table table-striped " id="lista_registros" txt="{%trans%}search{%endtrans%}-[!otro!]-{%trans%}showing{%endtrans%}-[!otro!]-{%trans%}no.result{%endtrans%}-[!otro!]-{%trans%}registers{%endtrans%}-[!otro!]-{%trans%}of{%endtrans%}-[!otro!]-{%trans%}total{%endtrans%}" >
                    <thead>
                        <tr>
                            <th>{%trans%}user{%endtrans%}</th>
                            <th>{%trans%}name{%endtrans%}</th>
                            <th>{%trans%}last.name{%endtrans%}</th>
                            <th>{%trans%}email{%endtrans%}</th>
                            <th>{%trans%}active{%endtrans%}</th>
                            <th style="width:15%; text-align: center;">{%trans%}actions{%endtrans%}</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for entity in entities %}
                    <tr >
                        <td class="v-align-middle">{{ entity.username }}</td>
                        <td class="v-align-middle">{{ entity.firstname }}</td>
                        <td class="v-align-middle">{{ entity.lastname }}</td>
                        <td class="v-align-middle">{{ entity.email }}</td>
                        <td class="v-align-middle">{% if entity.active %}{%trans%}yes{%endtrans%}{% else %}{%trans%}no{%endtrans%}{% endif %}</td>
                        <td class="v-align-middle" style="text-align: center;">
                            <a href="{{ path('user_show', { 'id': entity.id }) }}" class="btn btn-white btn-small tip" data-toggle="tooltip" data-placement="top" title="{%trans%}show{%endtrans%}" >
                                <i class="icon-zoom-in"></i>
                            </a>
                            <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-white btn-small tip" data-toggle="tooltip" data-placement="top" title="{%trans%}edit{%endtrans%}">
                                <i class="icon-edit"></i>
                            </a>
                            <a href="{{ path('user_password_edit', { 'id': entity.id }) }}" class="btn btn-white btn-small tip" data-toggle="tooltip" data-placement="top" title="{%trans%}change.pass{%endtrans%}">
                                <i class="icon-lock"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
            

        </div>
    </div><!--/span-->

</div><!--/row-->

{% endblock %}
