{% extends 'SystemBundle:Default:layout.html.twig' %}

{% block customjavascripts %}

{% endblock %}

{% block content %}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="{{ path('dashboard') }}">{%trans%}home{%endtrans%}</a> 
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="{{ path('user') }}" class="active">{%trans%}users{%endtrans%}</a></li>
</ul>

    
<div class="row-fluid">
    <div class=" span12">
        <div class="box-header" data-original-title>
            <h2>{%trans%}create.user{%endtrans%}</h2>
            {#<div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
            </div>#}
        </div>
        <div class="box-content">
                
           
            {{ form(form) }}

        </div>
    </div><!--/span-->

</div><!--/row-->

{% endblock %}
