{% extends 'SystemBundle:Default:layout.html.twig' %}

{% block content %}
<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="{{ path('dashboard') }}">{%trans%}home{%endtrans%}</a> 
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="{{ path('user') }}" class="active">{%trans%}users{%endtrans%}</a></li>
</ul>

<div class="row-fluid">
    <div class=" span12">
        <div class="box-header" data-original-title>
            <h2>{%trans%}details.user{%endtrans%}</h2>
        </div>
        <div class="box-content">
            <div class="pull-right">
                <a href="{{ path('user_password_edit', { 'id': entity.id }) }}" class="btn btn-white btn-small">
                    <i class="icon-lock"></i> {%trans%}change.pass{%endtrans%}
                </a>
                <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-white btn-small">
                    <i class="icon-edit"></i> {%trans%}edit{%endtrans%}
                </a>
                <a class="btn btn-white btn-small btn-setting">
                    <i class="icon-trash"></i> {%trans%}delete{%endtrans%}
                </a>
            </div>
                
            </br></br>
                
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th width="30%">{%trans%}user{%endtrans%}</th>
                        <td>{{ entity.username }}</td>
                    </tr>
                    <tr>
                        <th>{%trans%}name{%endtrans%} & {%trans%}last.name{%endtrans%}</th>
                        <td>{{ entity.firstname }} {{ entity.lastname }}</td>
                    </tr>
                    <tr>
                        <th>{%trans%}roles{%endtrans%}</th>
                        <td>
                            <ul style="margin: 0; padding-left: 20px;">
                            {% for role in entity.systemRole %}
                                <li style="padding-left: 0;">{{ role.label }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>{%trans%}email{%endtrans%}</th>
                        <td>{{ entity.email }}</td>
                    </tr>
                    <tr>
                        <th>{%trans%}active{%endtrans%}</th>
                        <td>
                            {% if entity.active %}
                            <span class="label label-success">{%trans%}yes{%endtrans%}</span>
                            {% else %}
                            <span class="label label-important">{%trans%}no{%endtrans%}</span>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!--/span-->

</div><!--/row-->

{# Modal: delete #}
<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>{%trans%}delete.record{%endtrans%}</h3>
    </div>
    <div class="modal-body">
        <p>{%trans%}delete.quest{%endtrans%}</p>
    </div>
    <div class="modal-footer">
         <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post" {{ form_enctype(delete_form) }}>
            {{ form_widget(delete_form) }}
            <button type="button" class="btn" data-dismiss="modal">{%trans%}cancel{%endtrans%}</button>
            <button type="submit" class="btn btn-primary">{%trans%}delete{%endtrans%}</button>
        </form>
    </div>
</div>

{% endblock %}
