{% extends 'SystemBundle:Default:layout.html.twig' %}

{% block customjavascripts %}
<script type="text/javascript">
$(document).ready(function() {
    $("div.toolbar").html('<div class="table-tools-actions"><a href="{{ path('menu_parent_new') }}" class="btn btn-primary" style="margin-left:12px" id="test2">{%trans%}add.menu{%endtrans%}</a><a href="{{ path('menu_child_new') }}" class="btn btn-primary" style="margin-left:12px" id="test2">{%trans%}add.submenu{%endtrans%}</a></div>');
})
</script>
{% endblock %}

{% block content %}

<ul class="breadcrumb">
    <li style="padding-left: 0;">
        <p>{%trans%}miga{%endtrans%}</p>
    </li>
    <li>
        {%trans%}system{%endtrans%}
    </li>
    <li><a href="{{ path('menu') }}" class="active">{%trans%}menus{%endtrans%}</a></li>
</ul>

<div class="page-title">
    <h3>
        {%trans%}system{%endtrans%} - <span class="semi-bold">{%trans%}menus{%endtrans%}</span>
    </h3>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>
                    {%trans%}list.of{%endtrans%} {%trans%}menus{%endtrans%}
                </h4>
                    <a href="{{ path('menu_parent_new') }}" class="btn btn-primary" style="margin-left:12px" id="test2">{%trans%}add.menu{%endtrans%}</a>
                    <a href="{{ path('menu_child_new') }}" class="btn btn-primary" style="margin-left:12px" id="test2">{%trans%}add.submenu{%endtrans%}</a>
                    <a href="{{ path('menu_reload') }}" class="btn btn-primary" style="margin-left:12px" id="test2">{%trans%}reload{%endtrans%}</a>
            </div>
            <div class="grid-body ">
                <table class="table table-hover table-condensed" id="lista_registros" txt="{%trans%}search{%endtrans%}-[!otro!]-{%trans%}showing{%endtrans%}-[!otro!]-{%trans%}no.result{%endtrans%}-[!otro!]-{%trans%}registers{%endtrans%}-[!otro!]-{%trans%}of{%endtrans%}-[!otro!]-{%trans%}total{%endtrans%}" >
                    <thead>
                        <tr>
                            <th>{%trans%}menu.parent{%endtrans%}</th>
                            <th>{%trans%}menu{%endtrans%}</th>
                            <th>{%trans%}icon{%endtrans%}</th>
                            <th style="width:15%; text-align: center;">{%trans%}actions{%endtrans%}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                        <tr >
                            <td valign="middle">
                                {% if entity.menuParent == null %}- Ninguno -{% else %}{{ entity.menuParent.title }}{% endif %}
                            </td>
                            <td valign="middle">
                                <span class="label label-info">{{ "%02d"|format(entity.orderItem) }}</span> {{ entity.title }}
                            </td>
                            <td valign="middle">
                                {% if entity.menuParent == null %}
                                    <i class="{{ entity.icon }}"></i> [{{ entity.icon }}]
                                {% else %}
                                    <span class="label">N/A</span>
                                {% endif %}
                            </td>
                            <td class="v-align-middle" style="text-align: center;">
                                <a href="{{ path('menu_show', { 'id': entity.id }) }}" class="btn btn-white btn-xs btn-mini tip" data-toggle="tooltip" data-original-title="{%trans%}show{%endtrans%}">
                                    <i class="fa fa-list-alt">show</i>
                                </a>
                                {% if entity.menuParent == null %}
                                <a href="{{ path('menu_parent_edit', { 'id': entity.id }) }}" class="btn btn-white btn-xs btn-mini tip" data-toggle="tooltip" data-original-title="{%trans%}edit{%endtrans%}">
                                    <i class="fa fa-edit">parent_edit</i>
                                </a>
                                {% else %}
                                <a href="{{ path('menu_child_edit', { 'id': entity.id }) }}" class="btn btn-white btn-xs btn-mini tip" data-toggle="tooltip" data-original-title="{%trans%}edit{%endtrans%}">
                                    <i class="fa fa-edit">child_edit</i>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}