{% extends 'SystemBundle:Default:layout.html.twig' %}

{% block content %}

<ul class="breadcrumb">
    <li style="padding-left: 0;">
        <p>{%trans%}miga{%endtrans%}</p>
    </li>
    <li>
        {%trans%}system{%endtrans%}
    </li>
    <li><a href="{{ path('menu') }}" class="active">{%trans%}menus{%endtrans%}</a></li>
</ul>

<div class="page-title">
    <h3>
        {%trans%}system{%endtrans%} - <span class="semi-bold">{%trans%}menus{%endtrans%}</span>
    </h3>
</div>

<div id="container">

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>
                        {%trans%}details.menu{%endtrans%}
                    </h4>
                    <div class="tools">
                        <div class="btn-group">
                            {% if entity.menuParent == null %}
                            <a href="{{ path('menu_parent_edit', { 'id': entity.id }) }}" class="btn btn-mini">
                                <i class="fa fa-edit"></i> {%trans%}edit{%endtrans%}
                            </a>
                            {% else %}
                            <a href="{{ path('menu_child_edit', { 'id': entity.id }) }}" class="btn btn-mini">
                                <i class="fa fa-edit"></i> {%trans%}edit{%endtrans%}
                            </a>
                            {% endif %}
                            <a class="btn btn-mini" data-toggle="modal" data-target="#deleteRecordModal">
                                <i class="fa fa-times"></i> {%trans%}delete.record{%endtrans%}
                            </a>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th width="40%">Men&uacute; padre</th>
                                <td>{% if entity.menuParent == null %}- Ninguno -{% else %}{{ entity.menuParent.title }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Titulo</th>
                                <td>{{ entity.title }}</td>
                            </tr>
                            <tr>
                                <th>Orden del item</th>
                                <td><span class="label label-info">{{ "%02d"|format(entity.orderItem) }}</span></td>
                            </tr>
                            <tr>
                                <th>Icono</th>
                                <td>
                                    {% if entity.menuParent == null %}
                                        <i class="{{ entity.icon }}"></i> [{{ entity.icon }}]
                                    {% else %}
                                        <span class="label">N/A</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Enlace externo</th>
                                <td>{% if entity.isExternal %}
                                    <span class="label label-success">Si</span>
                                    {% else %}
                                    <span class="label label-important">No</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Abrir en nueva pesta&ntilde;a</th>
                                <td>{% if entity.inNewTab %}
                                    <span class="label label-success">Si</span>
                                    {% else %}
                                    <span class="label label-important">No</span>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{# Modal: delete #}
<div class="modal fade" id="deleteRecordModal" tabindex="-1" role="dialog" aria-labelledby="deleteRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br>
                <h4 id="deleteRecordModalLabel" class="semi-bold">{%trans%}delete.record{%endtrans%}</h4>
                <p class="no-margin">
                     
                    {%trans%}delete.quest{%endtrans%}
                </p>
                <br>
            </div>
            <div class="modal-footer">
                <form action="{{ path('menu_delete', { 'id': entity.id }) }}" method="post" {{ form_enctype(delete_form) }}>
                {{ form_widget(delete_form) }}
                <button type="button" class="btn btn-default" data-dismiss="modal">{%trans%}cancel{%endtrans%}</button>
                <button type="submit" class="btn btn-danger">{%trans%}delete{%endtrans%}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
